@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body[data-scroll-locked] {
    margin-right: 0 !important;
    margin-left: 0 !important;   /* на всякий случай для RTL */
    overflow: visible !important;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-tree .rc-tree-treenode {
  padding: 3px 0;
  display: flex;
}

.custom-tree .rc-tree-node-content-wrapper {
  padding: 0 !important;
  border-radius: 8px;
}

.custom-tree .rc-tree-switcher {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-tree .rc-tree-switcher-line-icon {
  display: none !important;
}

.rc-tree .rc-tree-indent-unit {
  width: 16px; /* ширина одного уровня вложенности */
  display: inline-block;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  scrollbar-gutter: stable;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #404040;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #525252;
}



